@tailwind base;
@tailwind components;
@tailwind utilities;
input[type="date"]:not(:focus):invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit {
  color: white !important;
}